<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Анализатор новостей">
  <meta name="author" content="Tatiana Malashkina">
  <title>NewsAnalyzer. About</title>
  <link rel="icon" href="<%= require('../../images/favicon.ico').default %>" type="image/x-icon">
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>">
</head>

<body>
  <div class="root">
    <header class="header content-margin">
      <a class="header__logo header__logo_style_about" href="./index.html">NewsAnalyzer</a>
      <nav class="menu">
        <ul class="menu__links">
          <li class="menu__list menu__list_style_header"><a class="menu__link menu__link_style_about"
              href="./index.html">Главная</a></li>
          <li class="menu__list menu__list_style_header"><a class="menu__link menu__link_isactive_about"
              href="./about.html">О проекте</a></li>
        </ul>
      </nav>
    </header>
    <div class="header-line"></div>
  </div>

  <main class="content">
    <section class="clients content-margin height-margin">
      <h2 class="content-title content-title_size_x clients__title">Клиентам</h2>
      <p class="content-subtitle clients__subtitle">Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель —
        показать, чему научился студент, какими технологиями владеет.</p>
      <p class="content-subtitle clients__subtitle">Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и
        масштабируемым. Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в проектах,
        выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.</p>
      <p class="content-subtitle clients__subtitle">Карточки с новостями приходят с сервера и обрабатываются асинхронно.
        То есть сайт продолжает работать, пока от сервера приходит ответ. Это повышает удобство использования сервиса.
      </p>
      <p class="content-subtitle clients__subtitle">При создании проекта была использована сборка технологией Webpack.
        Это современный подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт
        работает в старых браузерах. Даже если посетители — пользователи старых операционных систем, у них не будет
        проблем с отображением. А значит, потенциальная аудитория возрастает.</p>
      <p class="content-subtitle clients__subtitle">Проект был проверен экспертами Яндекс.Практикума. Если вашему
        бизнесу нужен сайт, мы рекомендуем обратиться к этому студенту.</p>
    </section>
    <section class="tech">
      <h2 class="content-title content-title_size_x tech__title">Используемые технологии</h2>
      <ul class="tech__icons">
        <li class="tech__icon">
          <p class="content-subtitle tech__text">HTML</p>
          <img class="tech__image" src="<%=require('../../images/html.png').default%>" alt="html5">
        </li>
        <li class="tech__icon">
          <p class="content-subtitle tech__text">CSS</p>
          <img class="tech__image" src="<%=require('../../images/scc.png').default%>" alt="css3">
        </li>
        <li class="tech__icon">
          <p class="content-subtitle tech__text">Java Script</p>
          <img class="tech__image" src="<%=require('../../images/js.png').default%>" alt="Java Script">
        </li>
        <li class="tech__icon">
          <p class="content-subtitle tech__text">Webpack</p>
          <img class="tech__image" src="<%=require('../../images/webpack.png').default%>" alt="webpack">
        </li>
      </ul>
    </section>
    <section class="author content-margin height-margin">
      <img class="author__image" src="<%=require('../../images/avatar.jpg').default%>" alt="Фотография автора">
      <div class="author__text">
        <h2 class="content-title content-title_size_x content-title_colour_black author__title">Об авторе</h2>
        <p class="content-subtitle content-subtitle_colour_black author__subtitle">Привет!</p>
        <p class="content-subtitle content-subtitle_colour_black author__subtitle">Меня зовут Татьяна. В рамках обучения в
          Яндекс.Практикум был написан этот дипломный проект.</p>
        <p class="content-subtitle content-subtitle_colour_black author__subtitle">В работе использованы HTML5, CSS3,
          JavaScript ES6, ООП, БЭМ, Webpack.</p>
        <p class="content-subtitle content-subtitle_colour_black">Семь месяцев я изучала тонкости frontend-разработки.
          Продолжаю стремиться к красивому и чистому коду.</p>
      </div>
    </section>
    <section class="history">
      <div class="history__text content-margin">
        <h2 class="content-title content-title_colour_black content-title_size_x history__title">История коммитов из
          GitHub</h2>
        <a class="content-subtitle history__link" href="https://github.com/tttatttu" target="_blank">Открыть в
          Github&thinsp; &nbsp;&rang;</a>
      </div>

      <div class="swiper">
        <div class="swiper__container">
          <ul class="swiper__wrapper">

            <template id="cardgit-template" class="" style="display: none;">
              <article class="history__template ">
                <li class="history__slider swiper__slide">
                  <a class="history__card" href="" target="_blank">
                    <p class="history__data"></p>
                    <div class="history__autor">
                      <img class="history__image" src="" alt="аватар">
                      <h2 class="content-title content-title_size_s history__title"></h2>
                      <p class="history__mail"></p>
                    </div>
                    <p class="history__subtitle"></p>
                  </a>
                </li>
              </article>
            </template>

          </ul>
          <div class="swiper__pagination"></div>
          <div class="swiper__button swiper__button_prev"></div>
          <div class="swiper__button swiper__button_next"></div>
        </div>
      </div>
      <button type="submit" class="history__button">Открыть в GitHub</button>

    </section>
  </main>

  <footer class="footer content-margin">
    <p class="footer__copyright">&copy;&nbsp;2020&nbsp;Малашкина&nbsp;Татьяна</p>
    <nav class="menu">
      <ul class="menu__links menu__links_style_footer">
        <li class="menu__list menu__list_style_footer"><a class="menu__link menu__link_style_footer"
            href="./index.html">Главная</a></li>
        <li class="menu__list menu__list_style_footer"><a class="menu__link menu__link_style_footer"
            href="./about.html">О&nbsp;проекте</a></li>
        <li class="menu__list menu__list_style_footer"><a class="menu__link menu__link_style_footer"
            href="https://praktikum.yandex.ru/" target="_blank">Яндекс.Практикум</a></li>
      </ul>
    </nav>
    <nav class="menu">
      <ul class="menu__links menu__links_style_social">
        <li class="menu__list menu__list_style_social"><a class="menu__link" href="https://github.com/tttatttu"
            target="_blank"><img class="footer__social" src="<%=require('../../images/gitnub.svg').default%>"
              alt="github"></a></li>
        <li class="menu__list menu__list_style_social"><a class="menu__link"
            href="https://www.facebook.com/tatyana.tatushka.9" target="_blank"><img class="footer__social"
              src="<%=require('../../images/facebook.svg').default%>" alt="facebook"></a></li>
      </ul>
    </nav>
  </footer>

  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>
