@import url(../__subtitle/tabel__subtitle.css);
@import url(../__points/tabel__points.css);

.tabel__section {
  display: grid;
  grid-template-columns: 104px 1fr;
  grid-template-rows: repeat(2 44px);
  color: #b6bcbf;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-top: 48px;
}

@media screen and (max-width: 400px) {
  .tabel__section {
    margin-top: 16px;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 40px;
  }
}
