@import url(./__image/author__image.css);
@import url(./__text/author__text.css);
@import url(../content-margin/content-margin.css);
@import url(../height-margin/height-margin.css);
@import url(./__subtitle/author__subtitle.css);
@import url(./__title/author__title.css);

.author {
  font-family: "Roboto Slab", "Roboto", "Source Sans Pro", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .author {
    align-items: center;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .author {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 550px) {
  .author {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .author {
    padding-bottom: 24px;
  }
}
