.footer__copyright {
  color: #b6bcbf;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    margin-top: 16px;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    margin-top: 8px;
  }
}
