@import url(../__data/history__data.css);
@import url(../__autor/history__autor.css);
@import url(../__subtitle/history__subtitle.css);

.history__slider {
  font-family: "Roboto Slab", "Roboto", "Source Sans Pro", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 240px;
  /* height: 100%; */
  border-radius: 16px;
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
  flex-shrink: 0;
  scroll-snap-align: start;
  position: relative;
}

@media screen and (max-width: 768px) {
  .history__slider {
    max-width: 336px;
    min-width: 288px;
    min-height: 242px;
    height: 100%;
  }
}

@media screen and (max-width: 400px) {
  .history__slider {
    max-width: 288px;
    min-height: 264px;
    padding: 16px;
  }
}

