.content-margin {
  width: 85.5%;
  margin-left: 104px;
  margin-right: 104px;
}

@media screen and (max-width: 1024px) {
  .content-margin {
    width: 90%;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media screen and (max-width: 768px) {
  .content-margin {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 400px) {
  .content-margin {
    margin-left: 16px;
    margin-right: 16px;
  }
}
