.search__field {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .search__field {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 400px) {
  .search__field {
    margin-bottom: 32px;
    flex-direction: column;
    position: static;
  }
}
