@import url(../search-error/search-error.css);
@import url(../search-waiting/search-waiting.css);
@import url(../content-margin/content-margin.css);

.search-news {
  font-family: "Roboto Slab", "Roboto", "Source Sans Pro", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #b6bcbf;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .search-news {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 320px) {
  .search-news {
    padding-top: 32px;
    padding-bottom: 44px;
  }
}
