.tabel__day {
  display: grid;
  grid-template-columns: 104px 1fr;
  grid-template-rows: 24px;
  margin-top: 0;
  margin-bottom: 56px;
}

.tabel__day:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 400px) {
  .tabel__day {
    margin-top: 18px;
    margin-bottom: 24px;
    grid-template-columns: 80px 1fr;
  }
}
