.swiper__button_prev {
  left: 24px;
  right: auto;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4144 12.0001L15.7073 17.293L14.293 18.7072L7.58594 12.0001L14.293 5.29297L15.7073 6.70718L10.4144 12.0001Z' fill='white'/%3E%3C/svg%3E%0A");
}

.swiper__button_prev:active {
  background-color: rgba(26, 27, 34, .2);
}

.swiper__button_prev:hover {
  background-color: rgba(26, 27, 34, 0.9);
}
